.cardItem {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  border-radius: 7px;

  background-color: $main-white;

  @media all and (min-width: 1024px) {
    padding: 0 40px;
    flex-flow: row nowrap;
    align-items: center;
  }
}