.karmaCounter {
  svg {
    transition: fill 0.2s ease;
  }

  @media all and (min-width: 1024px) {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }
}

.karmaCounter > * + * {
  padding: 0 0 0 4px;

  @media all and (min-width: 1024px) {
    padding: 0;
  }
}

.karmaUp {
  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      svg {
        fill: $yellow-green;
      }
    }
  }

  &:active {
    svg {
      fill: $yellow-green;
    }
  }
}

.karmaValue {
  color: $silver-crayola;

  @media all and (min-width: 1024px) {
    padding: 7px 0;

    color: $dark-greenish-yellow-green;
  }
}

.karmaDown {
  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      svg {
        fill: $light-cherry;
      }
    }
  }

  &:active {
    svg {
      fill: $light-cherry;
    }
  }
}