.commentsButton {
  display: flex;
  align-items: normal;

  cursor: pointer;

  @media all and (min-width: 1024px) {
    display: none;
  }
}

.commentsButton * {
  color: $silver-crayola;
}

.commentsNumber {
  padding: 0 0 0 6px;

  font-size: 12px;
  line-height: 14px;
}