/* Названия цветов берутся из сервиса https://get-color.ru/ */
$smoky-white: #F4F4F4;
$smoky-white-2: #F3F3F3;
$dark-greenish-yellow-green: #333333;
$light-gray: #D9D9D9;
$copper: #CC6633;
$yellow-green: #A4CC33;
$silver-crayola: #C4C4C4;
$dull-gray: #666666;
$pearl-light-gray: #999999;
$main-black: #000000;
$main-white: #FFFFFF;